<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать вопрос</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/style/createTest.css" rel="stylesheet">
</head>
<body class="text-center">


<div th:replace="fragments/navbar :: mynavbar"></div>

<h1>
    Создать вопрос
</h1>

<!--<div th:text="${info}"></div>-->

<div class="thisFlex">
    <form method="post" class="form-edit" name="questionForm">
        <div class="form-group">
            <label for="questionName">Название вопроса</label>
            <input type="text" class="form-control" id="questionName" name="questionName" required>
        </div>

        <p>Варианты ответа</p>
        <div th:each="n : ${#numbers.sequence(1, countVariants)}" class="form-group">
            <label th:for="'variant' + ${n}" th:text="'Вариант №' + ${n}"></label>
            <input class="form-control" type="text" name="variant" th:name="'variant' + ${n}" th:id="'variant' + ${n}"
                   required>
        </div>

        <div class="form-group">
            <label for="rightVariant">Правильный ответ</label>
            <input type="number" class="form-control" id="rightVariant" name="rightVariant" required>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" th:formaction="@{/teacher/saveTest/{id}(id=${currentTest.id})}"
                   value="Сохранить тест">
            <input class="btn btn-primary" type="submit" value="Создать еще 1 вопрос">
        </div>
    </form>
</div>


<!-- Optional JavaScript-->
<!-- jQuery first, then Popper.js, then Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>