<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>

<div class="container" th:fragment="addIngred (unitsList)">
    <div class="row justify-content-around">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="ingredientName" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="countName" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <select class="custom-select" name="unitName">
                    <option value="NoSelectUnit">Не выбрано</option>
                    <option th:each="unit : ${unitsList}" th:value="${unit}" th:text="${unit}"></option>
                </select>
            </div>
        </div>
    </div>
</div>


</body>
</html>