<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Избранное</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style/main.css">
</head>

<body class="text-center">

<div th:replace="fragments/navbar :: mynavbar"></div>

<h3>Избранные рецепты</h3>


<div class="container  mb-4 mt-4 border border-primary rounded-lg p-4" th:each="recipe : ${favoriteRecipeList}">
    <div class="row justify-content-center">
        <form action="/seeTheRecipe" name="getRecipeForm">
            <input type="hidden" name="recipeId" th:value="${recipe.id}">
            <button type="submit" class="btn btn-outline-info btn-lg" th:text="${recipe.name}"></button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-auto">
            <div class="row text-left mb-2">
                <div class="col-md-auto font-weight-bold pr-1" th:text="'Автор: '"></div>
                <div class="col-md-auto pl-0" th:text="${recipe.authorName}"></div>
            </div>
            <div class="row text-left mb-2">
                <div class="col-md-auto font-weight-bold pr-1" th:text="'Добавлен на сайт: '"></div>
                <div class="col-md-auto pl-0" th:text="${recipe.date_added}"></div>
            </div>
            <div class="row text-left mb-2">
                <div class="col-md-auto font-weight-bold pr-1" th:text="'Порций: '"></div>
                <div class="col-md-auto pl-0" th:text="${recipe.portion} ? ${recipe.portion} : 'Не указано'"></div>
            </div>
            <div class="row text-left mb-2">
                <div class="col-md-auto font-weight-bold pr-1" th:text="'Источник: '"></div>
                <div class="col-md-auto pl-0" th:text="${recipe.source} ? ${recipe.source} : 'Не указано'"></div>
            </div>
        </div>
        <div class="col text-right">
            <form id="favorites">
                <input type="hidden" name="recipeId" id="recipeId" th:value="${recipe.id}">
                <input type="submit" class="btn btn-primary" id="isFavorite" value="Удалить из избранного">
            </form>
        </div>
    </div>


    <div class="row text-center mb-2 font-weight-bold">
        <div class="col-2" th:text="'Основа: '"></div>
        <div class="col-3" th:text="'Кухня: '"></div>
        <div class="col-2" th:text="'Категория: '"></div>
        <div class="col-5" th:text="'Способ(ы) приготовления: '"></div>
    </div>
    <div class="row text-center mb-2">
        <div class="col-2" th:text="${recipe.base} ? ${recipe.base} : 'Не указано'"></div>
        <div class="col-3" th:text="${recipe.kitchen} ? ${recipe.kitchen} : 'Не указано'"></div>
        <div class="col-2" th:text="${recipe.category} ? ${recipe.category} : 'Не указано'"></div>
        <div class="col-5" th:if="${#lists.isEmpty(recipe.cookMethod) == false}">
            <span th:each="cookMethod : ${recipe.cookMethod}" th:text="${cookMethodStat.last} ? ${cookMethod} : ${cookMethod} + ', '"></span>
        </div>
        <div class="col-5" th:if="${#lists.isEmpty(recipe.cookMethod)}" th:text="'Не указано'"></div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/ajax.js"></script>

</body>
</html>